* {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

html {
    background-color: #3b2559;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
}

#tags>h2>span:hover {
    cursor: pointer;
    color: #dbdbdb;
}

.title>h1 {
    color: rgb(15, 129, 15);
}

.title>h2 {
    color: rgb(15, 129, 15);
    font-weight: 300;
}

.textContent {
    font-weight: 300;
}

#img1 {
    text-align: center;
    padding-top: 10px;
}

.title {
    border-bottom: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: rgb(15, 129, 15);
    height: fit-content;
}

.opening {
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.opening1 {
    height: 500px;
    width: auto;
    border-radius: 10px;
}

.opening2 {
    height: 600px;
    width: auto;
    border-radius: 10px;
}

.opening3 {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.opening4 {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.opening5 {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

#link {
    color: #ffffff;
}

.title:nth-child(1) {
    border-bottom: 0;
}

#medium {
    background-color: bisque;
}

#low {
    background-color: brown;
}

#high {
    background-color: rgb(13, 87, 13);
}

#r {
    margin-right: 10px;
}

#dimgs {
    display: flex;
    justify-content: center;
    align-content: center;
}

#bold {
    font-weight: 500;
}

#act {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.subP {
    padding-left: 45px;
}

#index {
    height: fit-content;
    margin-top: 10px;
    padding: 5px;
}

#index>ul {
    padding-left: 35px;
}

#index>h3 {
    margin-bottom: 15px;
    font-weight: 300;
}

#index>ul>li>a,
#index>ul>li>ul>li>a {
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
}

#index>ul>li>a:hover,
#index>ul>li>ul>li>a:hover {
    color: #dbdbdb;
}

#contAll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 105px;
    padding-bottom: 105px;
    overflow-x: hidden;
    overflow-y: auto;
}

#footer {
    background-color: #34224e;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #34224e;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#column1,
#column2,
#column2f {
    align-items: center;
}

#column1 {
    display: flex;
    justify-content: center;
}

#column1f,
#column2f {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-items: center;
}

#r2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#r2>img {
    height: 24px;
    width: auto;
    cursor: pointer;
    margin-right: 5px;
}

#column2 {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#column2>div>img {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

#column2>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#column2>div:hover {
    cursor: pointer;
    font-weight: 700;
}

.footerOp:hover {
    cursor: pointer;
    color: #dbdbdb;
}