html {
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #8a00e6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.buttondiv {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.buttondiv:hover {
    background-color: #dbdbdb;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    color: #ffffff;
    padding: 10px;
}

#toast {
    max-width: 300px;
    max-height: 200px;
    position: fixed;
    z-index: 2;
    background-color: #b93e18;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    padding: 5px;
    color: #ffffff;
}

#blackBack {
    background-color: #000000;
    opacity: 70%;
    z-index: 1;
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.playerContainer {
    padding: 5px;
    border-color: #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px;
    color: #000000;
    border-style: solid;
}

#playersInfo>h1 {
    text-decoration: underline;
    margin-bottom: 50px;
    cursor: pointer;
}

#playersInfo>h1:hover {
    color: #dbdbdb;
}

.playerContainer:last-child {
    border-bottom: 0;
}

#stage3 {
    font-weight: bold;
    display: none;
}

#stage3>p {
    margin-bottom: 50px;
    cursor: pointer;
}

#stage3>p:hover {
    color: #dbdbdb;
}

#playersInfo {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow-y: auto;
    z-index: 2;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    display: none;
    padding: 15px;
}