/* reset */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Abel', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sevillana', cursive;
}

#coinFlipping {
    background-color: rgb(129, 164, 194);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 700;
}

#content {
    text-align: center;
}

#coinFlipping>div>p {
    text-decoration: underline;
    cursor: pointer;
}

#coinFlipping>div>p:hover {
    color: rgb(71, 71, 71);
}

img {
    height: 150px;
    width: auto;
}

.card {
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-active {
    animation: rotation 0.3s infinite linear;
}

.zooming {
    animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes rotation {
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.front,
.back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back,
.back-active {
    transform: rotateY(180deg);
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}